.header-base {
	display: flex;
	flex-direction: column;
	width: 80%;
}
.header-base__nav {
	display: flex;
	align-items: center;
	gap: 20px;
	background: #cfc7bb;
	padding: 10px 20px;
}
.header-base__nav-item {
	color: inherit;
	text-decoration: none;
	transition: 0.5s;
}
.header-base__nav-item:hover {
	opacity: 0.5;
	text-decoration: underline;
}
.header-base__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #d6d0c8;
	padding: 10px 20px;
	height: 80px;
}
